body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: white;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.leaflet-popup-content img.thumbnail {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: bubbleGrow 1s ease-out, bubbleFade 2s ease-in 2s forwards;
}

@keyframes bubbleGrow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bubbleFade {
  to {
    opacity: 0;
  }
}
